
#main-container {
    display: flex;
    margin: 75px;

    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: blue;
}

#content-container {
    text-align: center;
    padding: 5px;
    background-color: grey;
}

.text {
    color: white;
}